<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script>
<title>PokeDex - 151</title>
</head>

<body>
    <li v-for="p in pokemon">
        <span> PokeDex Number : (% p.pokedex_id %)</span>   
        <span> Name : (% p.name %)</span>
    </li>
	<script>
    Vue.config.delimiters = ['(%', '%)']
	var e = new Vue({
	    el: 'body',
	    data: {
            pokemon : []
	    },
        ready : function(){
            var resource = this.$resource('/api/pokedex{/id}');
            resource.get({}).then((response) => {
                this.pokemon = response.data.data
                //https://github.com/vuejs/vue-resource/blob/master/docs/http.md
                console.log(response.status)
            }, (response) => {
                alert('failure')
            });
        }
	});
</script>
</body>

</html>